__pycache__/
*.pyc
dist/
build/
*.egg-info/
.pytest_cache/
*.tmp
frsutils.egg-info/
*.zip
*.csv
temp/
logs/*.csv
logs/*.json
**/__pycache__/
datasets/
test_reports/
.coverage
htmlcov/
benchmark_smoke_output/
site/
.venv/
venv/
.vscode/

